header{
    width: 100%;
    padding: 28px 8%;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logopequena {
    display: flex;
    align-items: center;
    border: none; /* Remove a borda padrão */
    outline: none; /* Remove o contorno padrão ao focar */
    background-color: transparent; /* Remove o fundo padrão */
    box-shadow: none; /* Remove a sombra padrão */
    cursor: pointer; /* Altera o cursor para uma mãozinha */
    
}

.imagemlogopequena,
.nomelogopequena {
    height: 85px;
}

.imagemlogopequena {
    width: 85px;
    background-image: url(imagens/logopequena.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: #000000; */
}

.nomelogopequena {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-size: 20px;
    color: white;
    justify-content: center;
    width: 102px;
    /* background-color: #e3e700; */
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0 20px;
}

.nav-item a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.nav-item.active a{
    color: white;
    border-bottom: 3px solid #ffffff;
}

/* .nav-item a:hover{
    text-shadow: 0 0 10px #ff00ff;
} */