/*----------cor de fundo-------------*/
/* #home{
    background-color: black;   
}
#cta{
    background-color: aliceblue;
}
.title1{
    background-color: #8C68A6;
}

.title2{
    background-color: #D04E80;
}

.title3{
    background-color: aqua;
} */
/*-------------------------------*/


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 95px);
}

#cta{

}


.title1,
.title2,
.title3{
    padding-bottom: 20px;
    line-height: .8;
    font-weight:lighter;
    color: white;
    font-size: 6vw;
    margin: 0;
}

.title1{

    font-family: "Stick No Bills", sans-serif;
}

.title2{

    font-family: "Staatliches", sans-serif;
}

.title3{

    font-family: "ZCOOL KuaiLe", sans-serif;
    font-size: 2vw;
}

.cta_buttons{
    background: linear-gradient(to bottom, #8C68A6, #D04E80);
    border: none;
    padding: 1vw 3vw;
    border-radius: 20px 60px 100px 60px;
    font-family: "Staatliches", sans-serif;
    font-size: 3vw;
    color: white;
}

#banner {
    padding-right: 8%;
    height: 30vw;
    width: 30vw;
    background-image: url(imagens/logogrande.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1000px) {


    #home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
    }

    #cta{
        margin: 0 3% 0 3%;
        display: flex;
        flex-direction: column;
    }

    .title1,
    .title2,
    .title3{
        text-align: center;        
        line-height: .8;
        font-weight:lighter;
        color: white;
        font-size: 10vw;
        margin: 0;
        /* line-height: 1.2; */
    }  

.title1{
    padding-top: 0;
    font-family: "Stick No Bills", sans-serif;
    font-size: 12vw;
    padding-bottom: 3vw;
}

.title2{   
    font-family: "Staatliches", sans-serif;
    font-size: 12vw;
    padding-bottom: 3vw;
}

.title3{
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-size: 2vw;
    font-size: 4vw;
    padding-bottom: 2vw;
}

.cta_buttons{
    background: linear-gradient(to bottom, #8C68A6, #D04E80);
    border: none;
    padding: 1vw 3vw;
    border-radius: 20px 60px 100px 60px;
    font-family: "Staatliches", sans-serif;
    font-size: 5vw;
    color: white;
}
}

@media screen and (max-width: 700px) {

    #banner{
        display: none;
    }

    #home{
        justify-content: center;
        padding-top: 0;
    }

    #cta{
        margin: 0 10% 0 10%;
        display: flex;
        flex-direction: column;
    }

    .title1,
    .title2,
    .title3{
        text-align: left;        
        line-height: .8;
        font-weight:lighter;
        color: white;
        font-size: 10vw;
        margin: 0;
        line-height: 1.2;
    }  

.title1{
    padding-top: 0;
    font-family: "Stick No Bills", sans-serif;
    font-size: 15vw;
    padding-bottom: 4vw;
}

.title2{   
    font-family: "Staatliches", sans-serif;
    font-size: 15vw;
    padding-bottom: 7vw;
}

.title3{
    font-family: "ZCOOL KuaiLe", sans-serif;
    font-size: 2vw;
    font-size: 4vw;
    padding-bottom: 2vw;
    text-align: center; 
}

.cta_buttons{
    background: linear-gradient(to bottom, #8C68A6, #D04E80);
    border: none;
    padding: 1vw 3vw;
    border-radius: 20px 60px 100px 60px;
    font-family: "Staatliches", sans-serif;
    font-size: 5vw;
    color: white;
}
}


