@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Stick+No+Bills:wght@200..800&family=ZCOOL+KuaiLe&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*para responsividade*/

}

body{
    background-color: rgb(137, 33, 223);
    background-image: url(imagens/planodefundo.png);    
    background-size: center center;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Staatliches', sans-serif;
    margin: 0;
}